<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
 <h1> History of Game <br> </h1>
{% for h in history %}
    <p><h4>step: {{ h.id }},&nbsp&nbsp&nbsp;{{ h.text }},&nbsp&nbsp&nbsp;bulls: {{ h.bulls }},&nbsp&nbsp&nbsp;cows: {{ h.cows }}</h4></p>
{% endfor %}
</body>
</html>